.env

venv

__pycache__/
*.pyc
.DS_Store
.idea/
.vscode/
logs/
*.log
data/
output/
*.sqlite3
*.db
*.bak
*.tmp
*.swp
coverage
html
cov/
.pytest_cache/
mypy_cache/
.tox/
dist/
build/
node_modules/
dashboard/node_modules/
dashboard/dist/
*.egg-info/
.ipynb_checkpoints
*.ipynb
*.pem
*.key
*.crt
*.p12
*.log.*
*.orig
*.rej
*.patch
*.cover
*.pid
*.seed
*.coveragerc
*.ropeproject
*.sublime-project
*.sublime-workspace
*.tmproj
*.code-workspace
*.class
*.jar
*.war
